# Angular build & cache
dist/
.angular/
.angular/cache/

# Dependencies
node_modules/
package-lock.json

# Env
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# IDE
.vscode/
.idea/
